<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.united.dailymed">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAILYMED">

        <activity
            android:name=".Home.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Diet.EditDietPlan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diet.DietPlan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diet.AddDietPlan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diet.Diet" />

        <activity
            android:name=".Water.waterDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.changeTotal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.changeGender"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.Selectwateramount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.Changewatersettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.Tips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.Waterdashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="changeActivities"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.amtCoffee"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.amtWater"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.amtJuice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.amtTea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.amtCola"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.amtWine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.amtEnergyDrink"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Water.Water" />

        <activity android:name=".Pill.Pill" />

        <activity android:name=".Heart.Heart" />
        <activity android:name=".Home.Home" />
        <activity android:name=".Heart.HeartRateUpdate" />
        <activity android:name=".Heart.HeartReport" />
        <activity android:name=".Heart.HeartTips" />
        <activity android:name=".Heart.HeartHistory" />
        <activity android:name=".Heart.HeartAddEntry" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
